body {
    font-family: Arial, sans-serif;
    background-image: url(./Imagens/fundomatematica.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.calculator h1 {
    margin-bottom: 20px;
}

.calculator input {
    width: calc(50% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.calculator .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.calculator .buttons button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 0 5px;
    background-color: #f735f7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator .buttons button:nth-child(5) {
    font-size: 13px;
}

.calculator .buttons button:hover {
    background-color: #45a049;
}

.calculator #resultado {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

